<section id="viewAddhotel">
    <h2>Add new hotel</h2>
    <form id="formAddhotel" action="/hotels/add" method="POST">
        <label for="name">Hotel name:</label>
        <input type="text" id="name" name="name" placeholder="Hotel name">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City">
        <label for="freeRooms">Free rooms:</label>
        <input type="number" id="freeRooms" name="freeRooms" placeholder="Free rooms">
        <label for="imageUrl">Image:</label>
        <input type="text" id="imageUrl" name="imageUrl" placeholder="https://">

        <input type="submit" class="create" value="Add">
    </form>
</section>