<section id="viewhotelDetails">
    <div class="profile"><img src="/img/profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{details.username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{details.email}}</p>
        </div>
        <div class="flex">
            <p>Reservations: </p>
            <p>
                {{#each details.bookedHotels}}

                <span>{{name}}, </span>
                {{/each}}
            </p>
        </div>
    </div>
</section>