<section id="viewLogin">
    <h2>Register:</h2>
    <form id="formLogin" action="/users/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your Username">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your Email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password">
        
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your Password">

        <input type="submit" class="register" value="Register">
    </form>
</section>