<form action="/users/login" method="POST">
    <h1>Login</h1>

    <p>Personal info</p>
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="JustMyself123..." name="username">
    </div>
    
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="********" name="password">
    </div>

    <button type="submit">Login</button>
</form>